@font-face {
    font-family: 'sesion';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Sweet';
    src: url(../assets/fonts/Sweetmilk.ttf);
}

@font-face {
    font-family: 'Fluo';
    src: url(../assets/fonts/Fluo\ Gums.ttf);
}

@font-face {
    font-family: 'Arco';
    src: url(../assets/fonts/ARCO.ttf);
}

@font-face {
    font-family: 'Sunday';
    src: url(../assets/fonts/Sunday\ Morning\ ttf.ttf);
}

.barra {
    background-color: rgba(19, 13, 41, 0.911);
}

.rowCamp {
    margin-top: 400px;
}

.post {
    font-family: 'Fluo';
    margin-top: 68px;
}

.ingresar {
    font-family: 'Sunday';
    font-size: 20px;
    color: brown;
    border-radius: 15px;
}


/*Cuadro de inicio de sesión*/

.sesion {
    background-color: rgba(37, 37, 37, 0.900);
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    border-radius: 5px;
    font-family: 'Sweet';
    font-size: 20px;
}


/*Color fondo*/

.color-fondo {
    background-color: rgba(78, 81, 102, 0.6);
    width: 100%;
    height: 100%;
}


/*boton iniciar sesion y campos*/

.btnsesion {
    border: none;
    border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.8) */
}

.btnsesion:hover {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.)
}


/*campos de inicio de sesión*/

.campsesion {
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.863);
}


/*ancho del total*/

.total {
    width: 500px;
}


/*cabeza*/

.cuerpo {
    /*background-color: rgb(59, 59, 59); */
    background-image: url('../assets/img/fondoITBM.jpg');
    margin-top: -50px;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(49, 49, 49);  */
    /* background-image: url('/assets/img/fondo.png');
    background-size:cover; */
}


/*Botones demas*/

.fondo {
    background-color: rgba(43, 46, 74, 0.6);
    width: 100%;
    height: 100%;
}

.anchobtn {
    width: 150px;
    margin: 8px;
}

.btn-primary {
    background-color: rgba(18, 8, 56, 0.863);
}

@media (min-width:1000px) {
    .sesion {
        width: 400px;
    }
}

@media (min-width:768px) {
    .sesion {
        width: 400px;
    }
}

.cuerpo .color-fondo #login-form {
    margin-top: 68px;
}